.col-md-12
    
    .row.testimoniales
      each comment in comments 
            .col-md-6.col-lg-4.mb-4    
                .card 
                    .card-body
                        blockquote.blockquote 
                        p.mb-0 
                            |  #{comment.mensaje}
                        footer.blockquote-footer 
                            | #{comment.nombre}