footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/about") About us
                a.nav-link(href="/travels") Travels
                a.nav-link(href="/comments") Comments
        .col 
            p.copyright.text-center-text-md-right 
                | All right reserved - Pablo Colombo - 
                span= currentYear